**Import the dependencies**

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import svm
from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor

**Data Collection**

In [2]:
data = pd.read_csv('UNFCCC_v24.csv', encoding= 'unicode_escape')

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_6936\3978362536.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('UNFCCC_v24.csv', encoding= 'unicode_escape')

**EDA**

In [3]:
#removing the unnamed Column
data.drop(columns='Notation' , axis = 1, inplace=True)

In [4]:
data.head()

,Country_code,Country,Format_name,Pollutant_name,Sector_code,Sector_name,Parent_sector_code,Unit,Year,emissions,PublicationDate,DataSource
0,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.2,2.E.2 - TFT Flat Panel Display,2.E,Gg CO2 equivalent,2008,NaN,20210616,EEA
1,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.3,2.E.3 - Photovoltaics,2.E,Gg CO2 equivalent,1992,NaN,20210616,EEA
2,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.3,2.E.3 - Photovoltaics,2.E,Gg CO2 equivalent,2010,NaN,20210616,EEA
3,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.3,2.E.3 - Photovoltaics,2.E,Gg CO2 equivalent,2017,NaN,20210616,EEA
4,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.5,2.E.5 - Other electronics industry,2.E,Gg CO2 equivalent,1993,NaN,20210616,EEA

In [5]:
data.shape

(686348, 12)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686348 entries, 0 to 686347
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Country_code        686348 non-null  object
 1   Country             686348 non-null  object
 2   Format_name         686348 non-null  object
 3   Pollutant_name      686348 non-null  object
 4   Sector_code         686348 non-null  object
 5   Sector_name         686348 non-null  object
 6   Parent_sector_code  628766 non-null  object
 7   Unit                686348 non-null  object
 8   Year                686348 non-null  object
 9   emissions           426498 non-null  float64
 10  PublicationDate     686348 non-null  int64
 11  DataSource          686348 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 62.8+ MB

In [7]:
# checking for missing values
data.isnull().sum()

Country_code               0
Country                    0
Format_name                0
Pollutant_name             0
Sector_code                0
Sector_name                0
Parent_sector_code     57582
Unit                       0
Year                       0
emissions             259850
PublicationDate            0
DataSource                 0
dtype: int64

On a 37,85% de données manquantes pour les quatitées d'émission
et 8,38% de données manquantes pour les Parent_sector_code

In [8]:
data['emissions'].value_counts()

 0.00000        955
 0.00001        717
 0.00002        601
 0.00005        410
 24.96794       404
               ...
-20474.65619      1
-21510.69465      1
 12773.20649      1
 1203.99933       1
 0.23575          1
Name: emissions, Length: 281411, dtype: int64

In [9]:
data['Country'].value_counts()

Hungary                        24408
Slovenia                       21896
Romania                        21801
Spain                          20610
Ireland                        20610
Lithuania                      20606
Poland                         20564
Denmark                        20460
Slovakia                       20430
Finland                        20222
Estonia                        20052
United Kingdom (Convention)    20010
Bulgaria                       19831
EU (KP)                        19590
EU-27                          19590
EU-27+UK                       19590
Netherlands                    19470
Germany                        19440
France                         19401
Czechia                        19369
Portugal                       19290
Belgium                        19110
Malta                          19095
Cyprus                         19077
Italy                          18990
Latvia                         18990
Croatia                        18900
Greece                         18876
Iceland                        18603
Switzerland                    18360
Luxembourg                     18300
Norway                         18240
Austria                        18190
Turkey                         17277
Sweden                         17100
Name: Country, dtype: int64

In [10]:
data['Format_name'].value_counts()

IPCC Common Reporting Format    686348
Name: Format_name, dtype: int64

In [11]:
data['Pollutant_name'].value_counts()

All greenhouse gases - (CO2 equivalent)                180335
CH4                                                    136493
CO2                                                    128506
N2O                                                    126180
HFCs - (CO2 equivalent)                                 25821
PFCs - (CO2 equivalent)                                 24390
SF6 - (CO2 equivalent)                                  22987
Unspecified mix of HFCs and PFCs - (CO2 equivalent)     21536
NF3 - (CO2 equivalent)                                  20100
Name: Pollutant_name, dtype: int64

In [12]:
data['Unit'].value_counts()

Gg                   391179
Gg CO2 equivalent    295169
Name: Unit, dtype: int64

**Dealing with missing values**

In [13]:
data['emissions']=data['emissions'].interpolate(method="linear")

In [14]:
#replacing the missing values of the column "Parent_sector_code" with the most frequent value
data = data.fillna(data['Parent_sector_code'].value_counts().index[0])

In [15]:
# checking for missing values
data.isnull().sum()

Country_code          0
Country               0
Format_name           0
Pollutant_name        0
Sector_code           0
Sector_name           0
Parent_sector_code    0
Unit                  0
Year                  0
emissions             0
PublicationDate       0
DataSource            0
dtype: int64

=> Il n'y a pas encore de valeurs manquantes

In [16]:
data.head(7)

,Country_code,Country,Format_name,Pollutant_name,Sector_code,Sector_name,Parent_sector_code,Unit,Year,emissions,PublicationDate,DataSource
0,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.2,2.E.2 - TFT Flat Panel Display,2.E,Gg CO2 equivalent,2008,2,20210616,EEA
1,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.3,2.E.3 - Photovoltaics,2.E,Gg CO2 equivalent,1992,2,20210616,EEA
2,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.3,2.E.3 - Photovoltaics,2.E,Gg CO2 equivalent,2010,2,20210616,EEA
3,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.3,2.E.3 - Photovoltaics,2.E,Gg CO2 equivalent,2017,2,20210616,EEA
4,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.5,2.E.5 - Other electronics industry,2.E,Gg CO2 equivalent,1993,2,20210616,EEA
5,NL,Netherlands,IPCC Common Reporting Format,SF6 - (CO2 equivalent),2.E.5,2.E.5 - Other electronics industry,2.E,Gg CO2 equivalent,2001,2,20210616,EEA
6,LT,Lithuania,IPCC Common Reporting Format,N2O,1.A.3.b,1.A.3.b - Road Transportation,1.A.3,Gg,2009,0.10775,20210616,EEA

In [17]:
data['emissions'].value_counts()

0.00000         1302
0.00001          735
24.96794         670
0.00002          651
0.00005          413
                ...
21071.27530        1
318294.20803       1
331160.53641       1
311968.87272       1
137.60288          1
Name: emissions, Length: 533108, dtype: int64

**Encoding the features**

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Country_code']=le.fit_transform(data['Country_code'])
data['Country']=le.fit_transform(data['Country'])
data['Sector_code']=le.fit_transform(data['Sector_code'])
data['Sector_name']=le.fit_transform(data['Sector_name'])
data['Parent_sector_code']=le.fit_transform(data['Parent_sector_code'])
data['Pollutant_name']=le.fit_transform(data['Pollutant_name'])
data['Unit']=le.fit_transform(data['Unit'])
data['DataSource']=le.fit_transform(data['DataSource'])
data['Format_name']=le.fit_transform(data['Format_name'])
data.replace({'PublicationDate':{20210616:0}},inplace=True)

In [19]:
data.head(20)

,Country_code,Country,Format_name,Pollutant_name,Sector_code,Sector_name,Parent_sector_code,Unit,Year,emissions,PublicationDate,DataSource
0,25,23,0,7,73,73,16,1,2008,2,0,0
1,25,23,0,7,74,74,16,1,1992,2,0,0
2,25,23,0,7,74,74,16,1,2010,2,0,0
3,25,23,0,7,74,74,16,1,2017,2,0,0
4,25,23,0,7,76,76,16,1,1993,2,0,0
5,25,23,0,7,76,76,16,1,2001,2,0,0
6,21,20,0,4,16,16,3,0,2009,0.10775,0,0
7,21,20,0,4,17,17,4,0,2009,0.08124,0,0
8,21,20,0,4,17,17,4,0,2012,0.07069,0,0
9,21,20,0,4,17,17,4,0,2019,0.10371,0,0
10,21,20,0,4,19,19,4,0,2008,0.03074,0,0
11,21,20,0,4,19,19,4,0,2011,0.02634,0,0
12,21,20,0,4,20,20,4,0,1997,0.00029,0,0
13,21,20,0,4,20,20,4,0,2001,0.00019,0,0
14,21,20,0,4,21,21,4,0,1991,0.014259,0,0
15,21,20,0,4,21,21,4,0,1996,0.028327,0,0
16,21,20,0,4,21,21,4,0,1997,0.042396,0,0
17,21,20,0,4,21,21,4,0,2003,0.056464,0,0
18,21,20,0,4,21,21,4,0,2004,0.070533,0,0
19,21,20,0,4,21,21,4,0,2005,0.084601,0,0

**Separating the data and labels**

In [20]:
X =data.drop(['emissions'],axis=1) 
Y =data['emissions']

In [21]:
X = X.apply(pd.to_numeric, errors='coerce')
Y = Y.apply(pd.to_numeric, errors='coerce')

In [22]:
X.fillna(0, inplace=True)
Y.fillna(0, inplace=True)

In [23]:
print(X)
print(Y)

        Country_code  Country  Format_name  Pollutant_name  Sector_code  \
0                 25       23            0               7           73
1                 25       23            0               7           74
2                 25       23            0               7           74
3                 25       23            0               7           74
4                 25       23            0               7           76
...              ...      ...          ...             ...          ...
686343            25       23            0               7           71
686344            25       23            0               7           72
686345            25       23            0               7           72
686346            25       23            0               7           73
686347            25       23            0               7           73

        Sector_name  Parent_sector_code  Unit    Year  PublicationDate  \
0                73                  16     1  2008.0                0
1                74                  16     1  1992.0                0
2                74                  16     1  2010.0                0
3                74                  16     1  2017.0                0
4                76                  16     1  1993.0                0
...             ...                 ...   ...     ...              ...
686343           71                  11     1  1994.0                0
686344           72                  16     1  1990.0                0
686345           72                  16     1  2016.0                0
686346           73                  16     1  2003.0                0
686347           73                  16     1  2007.0                0

        DataSource
0                0
1                0
2                0
3                0
4                0
...            ...
686343           0
686344           0
686345           0
686346           0
686347           0

[686348 rows x 11 columns]
0           2.00
1           2.00
2           2.00
3           2.00
4           2.00
           ...
686343    276.45
686344    276.45
686345    276.45
686346    276.45
686347    276.45
Name: emissions, Length: 686348, dtype: float64

**Splitting Training and Test Data**

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2) #80% will be trained data and 20% will be testing data

In [25]:
print(X.shape, X_train.shape, X_test.shape)
print(Y.shape, Y_train.shape, Y_test.shape)

(686348, 11) (549078, 11) (137270, 11)
(686348,) (549078,) (137270,)

**Model Training**

1. Linear Regression

In [26]:
#loading lineair regression model
lin_reg_model = LinearRegression()

In [27]:
lin_reg_model.fit(X_train, Y_train)

LinearRegression()

In [28]:
#Prediction on Training data
training_data_prediction = lin_reg_model.predict(X_train)

In [29]:
# R squared Error
error_score = metrics.r2_score(Y_train, training_data_prediction) 
print('R squared Error:' , error_score)

R squared Error: 0.013896776978032599

In [30]:
features = np.array([[21, 20,0, 4,19,19,4,0,2011,0,0]])
print(lin_reg_model.predict(features))

[579.50443907]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [31]:
features = np.array([[21, 20,0, 4,16,16,3,0,2009,0,0]])
print(lin_reg_model.predict(features))

[1357.12947385]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

2.DecisionTreeRegressor

In [32]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()

In [33]:
model.fit(X_train, Y_train)

DecisionTreeRegressor()

In [34]:
predictions = model.predict(X_test)

In [35]:
from sklearn.metrics import mean_absolute_error
model.score(X_test, predictions)

1.0

In [36]:
features = np.array([[21, 20,0, 4,16,16,3,0,2009,0,0]])
print(model.predict(features))

[0.10775]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [37]:
features = np.array([[21, 20,0, 4,19,19,4,0,2011,0,0]])
print(model.predict(features))

[0.02634]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [38]:
features = np.array([[21, 20,0, 4,23,23,3,0,2014,0,0]])
print(model.predict(features))

[0.0004]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [39]:
features = np.array([[21, 20,0, 4,32,32,0,0,2008,0,0]])
print(model.predict(features))

[0.51773]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [40]:
features = np.array([[22, 21,0, 1,137,137,30,0,1992,0,0]])
print(model.predict(features))

[13.2699535]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [41]:
features = np.array([[25, 23,0, 6,167,167,11,1,1996,0,0]])
print(model.predict(features))

[2535.61199]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [42]:
features = np.array([[23, 21,0, 6,120,126,3,0,2009,0,0]]) #aléatoire
print(model.predict(features))

[0.00414526]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [43]:
features = np.array([[25, 23,0, 7,42,42,38,1,1998,0,0]])
print(model.predict(features))

[276.45]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [44]:
features = np.array([[25, 23,0, 6,170,170,11,1,2019,0,0]])
print(model.predict(features))

[117.31745]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

In [45]:
features = np.array([[25, 23,0, 7,73,73,16,1,2008,0,0]])
print(model.predict(features))

[251.608989]

C:\Users\LENOVO\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

3.SVM

In [ ]:
from sklearn.svm import SVR
svr = SVR()
svr.fit(X_train, Y_train)